# Docker
COMPOSE_PROJECT_NAME=catalog
HTTP_PORT=80
HTTPS_PORT=443

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
# Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
# See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
DEFAULT_URI=https://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://app:ChangeMe@database:5432/app?serverVersion=18&charset=utf8"
###< doctrine/doctrine-bundle ###
